MSYS.Web/Web References/MasterService/MisMasterDataServiceInterfaceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.dhcc.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MisMasterDataServiceInterfaceService" targetNamespace="http://webservice.dhcc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservice.dhcc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getDeptInfo" type="tns:getDeptInfo" />
      <xs:element name="getDeptInfoResponse" type="tns:getDeptInfoResponse" />
      <xs:element name="getUserInfo" type="tns:getUserInfo" />
      <xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse" />
      <xs:complexType name="getDeptInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="contentXml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDeptInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="contentXml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserInfo">
    <wsdl:part name="parameters" element="tns:getUserInfo" />
  </wsdl:message>
  <wsdl:message name="getDeptInfo">
    <wsdl:part name="parameters" element="tns:getDeptInfo" />
  </wsdl:message>
  <wsdl:message name="getDeptInfoResponse">
    <wsdl:part name="parameters" element="tns:getDeptInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getUserInfoResponse">
    <wsdl:part name="parameters" element="tns:getUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="MisMasterDataServiceInterface">
    <wsdl:operation name="getDeptInfo">
      <wsdl:input name="getDeptInfo" message="tns:getDeptInfo" />
      <wsdl:output name="getDeptInfoResponse" message="tns:getDeptInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <wsdl:input name="getUserInfo" message="tns:getUserInfo" />
      <wsdl:output name="getUserInfoResponse" message="tns:getUserInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MisMasterDataServiceInterfaceServiceSoapBinding" type="tns:MisMasterDataServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDeptInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDeptInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDeptInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MisMasterDataServiceInterfaceService">
    <wsdl:port name="MisMasterDataServiceInterfacePort" binding="tns:MisMasterDataServiceInterfaceServiceSoapBinding">
      <soap:address location="http://10.43.171.22:8081/xymis/services/MisMasterDataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>