MSYS.Web/Web References/MateriaService/WsBaseDataInterfaceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.dhcc.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WsBaseDataInterfaceService" targetNamespace="http://webservice.dhcc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservice.dhcc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="DOCUMENT" nillable="true" type="xs:anyType" />
      <xs:element name="execUpdateSapOnhand" type="tns:execUpdateSapOnhand" />
      <xs:element name="execUpdateSapOnhandResponse" type="tns:execUpdateSapOnhandResponse" />
      <xs:element name="getAllMaterialtList" type="tns:getAllMaterialtList" />
      <xs:element name="getAllMaterialtListResponse" type="tns:getAllMaterialtListResponse" />
      <xs:element name="getAllProductList" type="tns:getAllProductList" />
      <xs:element name="getAllProductListResponse" type="tns:getAllProductListResponse" />
      <xs:element name="getAuxFormulaById" type="tns:getAuxFormulaById" />
      <xs:element name="getAuxFormulaByIdResponse" type="tns:getAuxFormulaByIdResponse" />
      <xs:element name="getCoatFormulaById" type="tns:getCoatFormulaById" />
      <xs:element name="getCoatFormulaByIdResponse" type="tns:getCoatFormulaByIdResponse" />
      <xs:element name="getMatFormulaById" type="tns:getMatFormulaById" />
      <xs:element name="getMatFormulaByIdResponse" type="tns:getMatFormulaByIdResponse" />
      <xs:element name="getTechStdById" type="tns:getTechStdById" />
      <xs:element name="getTechStdByIdResponse" type="tns:getTechStdByIdResponse" />
      <xs:element name="getUnitList" type="tns:getUnitList" />
      <xs:element name="getUnitListResponse" type="tns:getUnitListResponse" />
      <xs:element name="getWorkSchedule" type="tns:getWorkSchedule" />
      <xs:element name="getWorkScheduleResponse" type="tns:getWorkScheduleResponse" />
      <xs:element name="materialTree" type="tns:materialTree" />
      <xs:element name="materialTreeResponse" type="tns:materialTreeResponse" />
      <xs:element name="receiveMatInfo" type="tns:receiveMatInfo" />
      <xs:element name="receiveMatInfoResponse" type="tns:receiveMatInfoResponse" />
      <xs:element name="receiveVirtualTransferInfo" type="tns:receiveVirtualTransferInfo" />
      <xs:element name="receiveVirtualTransferInfoResponse" type="tns:receiveVirtualTransferInfoResponse" />
      <xs:element name="updateSapOnhandByCode" type="tns:updateSapOnhandByCode" />
      <xs:element name="updateSapOnhandByCodeResponse" type="tns:updateSapOnhandByCodeResponse" />
      <xs:complexType name="updateSapOnhandByCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateSapOnhandByCodeResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="receiveMatInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:sapTmara" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg1" type="tns:sapTmch1" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sapTmara">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="bezei1" type="xs:string" />
              <xs:element minOccurs="0" name="bezei2" type="xs:string" />
              <xs:element minOccurs="0" name="createTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="id" type="xs:long" />
              <xs:element minOccurs="0" name="lvorm" type="xs:string" />
              <xs:element minOccurs="0" name="maktx" type="xs:string" />
              <xs:element minOccurs="0" name="marm" type="xs:string" />
              <xs:element minOccurs="0" name="matkl" type="xs:string" />
              <xs:element minOccurs="0" name="matnr" type="xs:string" />
              <xs:element minOccurs="0" name="meins" type="xs:string" />
              <xs:element minOccurs="0" name="mtart" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="sapTmarmList" nillable="true" type="tns:sapTmarm" />
              <xs:element minOccurs="0" name="xchpf" type="xs:string" />
              <xs:element minOccurs="0" name="zzcdCode" type="xs:string" />
              <xs:element minOccurs="0" name="zzcdText" type="xs:string" />
              <xs:element minOccurs="0" name="zzdjCode" type="xs:string" />
              <xs:element minOccurs="0" name="zzdjText" type="xs:string" />
              <xs:element minOccurs="0" name="zzpzCode" type="xs:string" />
              <xs:element minOccurs="0" name="zzpzText" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="draw" type="xs:int" />
          <xs:element minOccurs="0" name="length" type="xs:int" />
          <xs:element minOccurs="0" name="pageNum" type="xs:int" />
          <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          <xs:element minOccurs="0" name="start" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sapTmarm">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="meinh" type="xs:string" />
          <xs:element minOccurs="0" name="meins" type="xs:string" />
          <xs:element minOccurs="0" name="tmaraId" type="xs:long" />
          <xs:element minOccurs="0" name="umren" type="xs:double" />
          <xs:element minOccurs="0" name="umrez" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sapTmch1">
        <xs:sequence>
          <xs:element minOccurs="0" name="charg" type="xs:string" />
          <xs:element minOccurs="0" name="createTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="kztxt" type="xs:string" />
          <xs:element minOccurs="0" name="matnr" type="xs:string" />
          <xs:element minOccurs="0" name="zbz" type="xs:string" />
          <xs:element minOccurs="0" name="zdj" type="xs:string" />
          <xs:element minOccurs="0" name="znf" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="receiveMatInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:rs" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="rs">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="receiveVirtualTransferInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:sapTmdoc" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sapTmdoc">
        <xs:sequence>
          <xs:element minOccurs="0" name="budat" type="xs:string" />
          <xs:element minOccurs="0" name="charg" type="xs:string" />
          <xs:element minOccurs="0" name="createTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="matnr" type="xs:string" />
          <xs:element minOccurs="0" name="mblnr" type="xs:string" />
          <xs:element minOccurs="0" name="meins" type="xs:string" />
          <xs:element minOccurs="0" name="menge" type="xs:double" />
          <xs:element minOccurs="0" name="usnam" type="xs:string" />
          <xs:element minOccurs="0" name="zeile" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="receiveVirtualTransferInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:rs" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTechStdById">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTechStdByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:techStddInfoVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="techStddInfoVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="techStddInfo" type="tns:tQaTechStdd" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="techStdDetails" type="tns:techStddDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tQaTechStdd">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="BDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="controlStatus" type="xs:string" />
              <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="createDept" type="xs:string" />
              <xs:element minOccurs="0" name="createId" type="xs:string" />
              <xs:element minOccurs="0" name="creator" type="xs:string" />
              <xs:element minOccurs="0" name="EDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="id" type="xs:long" />
              <xs:element minOccurs="0" name="isDel" type="xs:string" />
              <xs:element minOccurs="0" name="isValid" type="xs:string" />
              <xs:element minOccurs="0" name="issuedStatus" type="xs:string" />
              <xs:element minOccurs="0" name="modifyId" type="xs:string" />
              <xs:element minOccurs="0" name="modifyTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="prodCode" type="xs:string" />
              <xs:element minOccurs="0" name="remark" type="xs:string" />
              <xs:element minOccurs="0" name="standardCode" type="xs:string" />
              <xs:element minOccurs="0" name="standardVol" type="xs:string" />
              <xs:element minOccurs="0" name="techStddName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="techStddDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="baseDown" type="xs:string" />
          <xs:element minOccurs="0" name="baseUp" type="xs:string" />
          <xs:element minOccurs="0" name="bzUnit" type="xs:string" />
          <xs:element minOccurs="0" name="centerVal" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="paraName" type="xs:string" />
          <xs:element minOccurs="0" name="paraUnit" type="xs:string" />
          <xs:element minOccurs="0" name="parmStdd" type="xs:string" />
          <xs:element minOccurs="0" name="passPercent" type="xs:string" />
          <xs:element minOccurs="0" name="processName" type="xs:string" />
          <xs:element minOccurs="0" name="projCode" type="xs:string" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
          <xs:element minOccurs="0" name="sectionName" type="xs:string" />
          <xs:element minOccurs="0" name="sort" type="xs:string" />
          <xs:element minOccurs="0" name="stddValue" type="xs:string" />
          <xs:element minOccurs="0" name="techParmType" type="xs:string" />
          <xs:element minOccurs="0" name="techStddId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getWorkSchedule">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getWorkScheduleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:workScheduleVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="workScheduleVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="col1" type="xs:string" />
          <xs:element minOccurs="0" name="col2" type="xs:string" />
          <xs:element minOccurs="0" name="col3" type="xs:string" />
          <xs:element minOccurs="0" name="col4" type="xs:string" />
          <xs:element minOccurs="0" name="dateBegin" type="xs:string" />
          <xs:element minOccurs="0" name="dateEnd" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
          <xs:element minOccurs="0" name="shiftName" type="xs:string" />
          <xs:element minOccurs="0" name="teamName" type="xs:string" />
          <xs:element minOccurs="0" name="workDate" type="xs:string" />
          <xs:element minOccurs="0" name="workStaus" type="xs:string" />
          <xs:element minOccurs="0" name="workshopName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="execUpdateSapOnhand">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="execUpdateSapOnhandResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMatFormulaById">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMatFormulaByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:materFormulaVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="materFormulaVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="formulaCode" type="xs:string" />
          <xs:element minOccurs="0" name="formulaName" type="xs:string" />
          <xs:element minOccurs="0" name="prodCode" type="xs:string" />
          <xs:element minOccurs="0" name="standardVol" type="xs:string" />
          <xs:element minOccurs="0" name="BDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="controlStatus" type="xs:string" />
          <xs:element minOccurs="0" name="caboSum" type="xs:double" />
          <xs:element minOccurs="0" name="piecesSum" type="xs:double" />
          <xs:element minOccurs="0" name="createId" type="xs:string" />
          <xs:element minOccurs="0" name="creator" type="xs:string" />
          <xs:element minOccurs="0" name="createDate" type="xs:string" />
          <xs:element minOccurs="0" name="createDept" type="xs:string" />
          <xs:element minOccurs="0" name="modifyId" type="xs:string" />
          <xs:element minOccurs="0" name="modifyTime" type="xs:string" />
          <xs:element minOccurs="0" name="isValid" type="xs:string" />
          <xs:element minOccurs="0" name="isDel" type="xs:string" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
          <xs:element minOccurs="0" name="stemNum" type="xs:double" />
          <xs:element minOccurs="0" name="pieceNum" type="xs:double" />
          <xs:element minOccurs="0" name="smallsNum" type="xs:double" />
          <xs:element minOccurs="0" name="sticksNum" type="xs:double" />
          <xs:element minOccurs="0" name="pzcode" type="xs:string" />
          <xs:element minOccurs="0" name="adjust" type="xs:string" />
          <xs:element minOccurs="0" name="flowStatus" type="xs:string" />
          <xs:element name="executeBatch" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="spSubList" type="tns:tQaMaterFormulaDetail" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ygSubList" type="tns:tQaMaterFormulaDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tQaMaterFormulaDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="batchSize" type="xs:double" />
          <xs:element minOccurs="0" name="frontGroup" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="isDel" type="xs:string" />
          <xs:element minOccurs="0" name="materCode" type="xs:string" />
          <xs:element minOccurs="0" name="materFlag" type="xs:string" />
          <xs:element minOccurs="0" name="materFormulaId" type="xs:long" />
          <xs:element minOccurs="0" name="materName" type="xs:string" />
          <xs:element minOccurs="0" name="materSort" type="xs:int" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCoatFormulaById">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCoatFormulaByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:coatFormulaVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="coatFormulaVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="formulaCode" type="xs:string" />
          <xs:element minOccurs="0" name="formulaName" type="xs:string" />
          <xs:element minOccurs="0" name="prodCode" type="xs:string" />
          <xs:element minOccurs="0" name="standardVol" type="xs:string" />
          <xs:element minOccurs="0" name="BDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="controlStatus" type="xs:string" />
          <xs:element minOccurs="0" name="createId" type="xs:string" />
          <xs:element minOccurs="0" name="creator" type="xs:string" />
          <xs:element minOccurs="0" name="createDate" type="xs:string" />
          <xs:element minOccurs="0" name="modifyId" type="xs:string" />
          <xs:element minOccurs="0" name="modifyTime" type="xs:string" />
          <xs:element minOccurs="0" name="createDept" type="xs:string" />
          <xs:element minOccurs="0" name="isValid" type="xs:string" />
          <xs:element minOccurs="0" name="isDel" type="xs:string" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
          <xs:element minOccurs="0" name="formulaXj" type="xs:double" />
          <xs:element minOccurs="0" name="WTotal" type="xs:double" />
          <xs:element minOccurs="0" name="formulaTpy" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="coatXJSubList" type="tns:tQaCoatFormulaDetail" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="coatTBYSubList" type="tns:tQaCoatFormulaDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tQaCoatFormulaDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="classCode" type="xs:string" />
          <xs:element minOccurs="0" name="className" type="xs:string" />
          <xs:element minOccurs="0" name="coatFlag" type="xs:string" />
          <xs:element minOccurs="0" name="coatFormulaId" type="xs:long" />
          <xs:element minOccurs="0" name="coatScale" type="xs:string" />
          <xs:element minOccurs="0" name="coatSort" type="xs:double" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="isDel" type="xs:string" />
          <xs:element minOccurs="0" name="isValid" type="xs:string" />
          <xs:element minOccurs="0" name="materialName" type="xs:string" />
          <xs:element minOccurs="0" name="needSize" type="xs:double" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAuxFormulaById">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAuxFormulaByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:auxFormulaVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="auxFormulaVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="formulaCode" type="xs:string" />
          <xs:element minOccurs="0" name="formulaName" type="xs:string" />
          <xs:element minOccurs="0" name="prodCode" type="xs:string" />
          <xs:element minOccurs="0" name="standardVol" type="xs:string" />
          <xs:element minOccurs="0" name="BDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="controlStatus" type="xs:string" />
          <xs:element minOccurs="0" name="createId" type="xs:string" />
          <xs:element minOccurs="0" name="creator" type="xs:string" />
          <xs:element minOccurs="0" name="createDate" type="xs:string" />
          <xs:element minOccurs="0" name="createDept" type="xs:string" />
          <xs:element minOccurs="0" name="modifyId" type="xs:string" />
          <xs:element minOccurs="0" name="modifyTime" type="xs:string" />
          <xs:element minOccurs="0" name="isValid" type="xs:string" />
          <xs:element minOccurs="0" name="isDel" type="xs:string" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="auxSubList" type="tns:tQaAuxFormulaDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tQaAuxFormulaDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="auxFormulaId" type="xs:long" />
          <xs:element minOccurs="0" name="auxPercent" type="xs:double" />
          <xs:element minOccurs="0" name="auxScale" type="xs:double" />
          <xs:element minOccurs="0" name="auxSort" type="xs:double" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="isDel" type="xs:string" />
          <xs:element minOccurs="0" name="materCode" type="xs:string" />
          <xs:element minOccurs="0" name="materName" type="xs:string" />
          <xs:element minOccurs="0" name="materType" type="xs:string" />
          <xs:element minOccurs="0" name="mattreeName" type="xs:string" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="materialTree">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="materialTreeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:treeVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="treeVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="classCode" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="parent" type="xs:boolean" />
          <xs:element minOccurs="0" name="totalSum" type="xs:string" />
          <xs:element minOccurs="0" name="pId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllMaterialtList">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAllMaterialtListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tPubMateriel" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tPubMateriel">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="clocationid" type="xs:string" />
              <xs:element minOccurs="0" name="costprice" type="xs:double" />
              <xs:element minOccurs="0" name="cwarehouseID" type="xs:string" />
              <xs:element minOccurs="0" name="dataOriginFlag" type="xs:string" />
              <xs:element minOccurs="0" name="factory" type="xs:string" />
              <xs:element minOccurs="0" name="flag" type="xs:string" />
              <xs:element minOccurs="0" name="id" type="xs:long" />
              <xs:element minOccurs="0" name="isDel" type="xs:string" />
              <xs:element minOccurs="0" name="isValid" type="xs:string" />
              <xs:element minOccurs="0" name="levelCode" type="xs:string" />
              <xs:element minOccurs="0" name="matCategory" type="xs:string" />
              <xs:element minOccurs="0" name="matCity" type="xs:string" />
              <xs:element minOccurs="0" name="matLevel" type="xs:string" />
              <xs:element minOccurs="0" name="matPack" type="xs:string" />
              <xs:element minOccurs="0" name="matPlace" type="xs:string" />
              <xs:element minOccurs="0" name="matPlaceName" type="xs:string" />
              <xs:element minOccurs="0" name="matProvince" type="xs:string" />
              <xs:element minOccurs="0" name="matType" type="xs:string" />
              <xs:element minOccurs="0" name="matType2" type="xs:string" />
              <xs:element minOccurs="0" name="matTypeCode" type="xs:string" />
              <xs:element minOccurs="0" name="matTypeCode2" type="xs:string" />
              <xs:element minOccurs="0" name="matVariety" type="xs:string" />
              <xs:element minOccurs="0" name="matYear" type="xs:string" />
              <xs:element minOccurs="0" name="materLocation" type="xs:string" />
              <xs:element minOccurs="0" name="materialCode" type="xs:string" />
              <xs:element minOccurs="0" name="materialName" type="xs:string" />
              <xs:element minOccurs="0" name="modelVal" type="xs:string" />
              <xs:element minOccurs="0" name="onhand" type="xs:double" />
              <xs:element minOccurs="0" name="pieceWeight" type="xs:string" />
              <xs:element minOccurs="0" name="pkMarbasclass" type="xs:string" />
              <xs:element minOccurs="0" name="pkMaterial" type="xs:string" />
              <xs:element minOccurs="0" name="pkMattaxes" type="xs:string" />
              <xs:element minOccurs="0" name="pkmatCategory" type="xs:string" />
              <xs:element minOccurs="0" name="pkmatType" type="xs:string" />
              <xs:element minOccurs="0" name="placeCode" type="xs:string" />
              <xs:element minOccurs="0" name="remark" type="xs:string" />
              <xs:element minOccurs="0" name="spcontract" type="xs:string" />
              <xs:element minOccurs="0" name="specVal" type="xs:string" />
              <xs:element minOccurs="0" name="storedocName" type="xs:string" />
              <xs:element minOccurs="0" name="supplier" type="xs:string" />
              <xs:element minOccurs="0" name="typeCode" type="xs:string" />
              <xs:element minOccurs="0" name="typeFlag" type="xs:string" />
              <xs:element minOccurs="0" name="unitCode" type="xs:string" />
              <xs:element minOccurs="0" name="unitName" type="xs:string" />
              <xs:element minOccurs="0" name="varietyCode" type="xs:string" />
              <xs:element minOccurs="0" name="warehouseCode" type="xs:string" />
              <xs:element minOccurs="0" name="warehouseName" type="xs:string" />
              <xs:element minOccurs="0" name="xyMaterialCode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getUnitList">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getUnitListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tPubUnit" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tPubUnit">
        <xs:sequence>
          <xs:element minOccurs="0" name="createId" type="xs:string" />
          <xs:element minOccurs="0" name="createTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataOriginFlag" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="isDel" type="xs:string" />
          <xs:element minOccurs="0" name="isValid" type="xs:string" />
          <xs:element minOccurs="0" name="modifyId" type="xs:string" />
          <xs:element minOccurs="0" name="modifyTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="originCode" type="xs:string" />
          <xs:element minOccurs="0" name="unitCode" type="xs:string" />
          <xs:element minOccurs="0" name="unitGroupCode" type="xs:string" />
          <xs:element minOccurs="0" name="unitGroupName" type="xs:string" />
          <xs:element minOccurs="0" name="unitGroupType" type="xs:string" />
          <xs:element minOccurs="0" name="unitName" type="xs:string" />
          <xs:element minOccurs="0" name="xyUnitCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllProductList">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:productEntity" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="productEntity">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="auxFormulaCode" type="xs:string" />
              <xs:element minOccurs="0" name="auxFormulaId" type="xs:string" />
              <xs:element minOccurs="0" name="beltLineType" type="xs:string" />
              <xs:element minOccurs="0" name="coatFormulaCode" type="xs:string" />
              <xs:element minOccurs="0" name="coatFormulaId" type="xs:string" />
              <xs:element minOccurs="0" name="createTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="createorId" type="xs:string" />
              <xs:element minOccurs="0" name="handMode" type="xs:string" />
              <xs:element minOccurs="0" name="id" type="xs:long" />
              <xs:element minOccurs="0" name="isDel" type="xs:string" />
              <xs:element minOccurs="0" name="isValid" type="xs:string" />
              <xs:element minOccurs="0" name="materFormulaCode" type="xs:string" />
              <xs:element minOccurs="0" name="materFormulaId" type="xs:string" />
              <xs:element minOccurs="0" name="modifyId" type="xs:string" />
              <xs:element minOccurs="0" name="modifyTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="packName" type="xs:string" />
              <xs:element minOccurs="0" name="prodCode" type="xs:string" />
              <xs:element minOccurs="0" name="prodName" type="xs:string" />
              <xs:element minOccurs="0" name="remark" type="xs:string" />
              <xs:element minOccurs="0" name="standardValue" type="xs:string" />
              <xs:element minOccurs="0" name="techStddCode" type="xs:string" />
              <xs:element minOccurs="0" name="techStddId" type="xs:string" />
              <xs:element minOccurs="0" name="xyProdCode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAllProductListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productEntity" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllMaterialtListResponse">
    <wsdl:part name="parameters" element="tns:getAllMaterialtListResponse" />
  </wsdl:message>
  <wsdl:message name="updateSapOnhandByCode">
    <wsdl:part name="parameters" element="tns:updateSapOnhandByCode" />
  </wsdl:message>
  <wsdl:message name="getAllProductList">
    <wsdl:part name="parameters" element="tns:getAllProductList" />
  </wsdl:message>
  <wsdl:message name="getWorkScheduleResponse">
    <wsdl:part name="parameters" element="tns:getWorkScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="getWorkSchedule">
    <wsdl:part name="parameters" element="tns:getWorkSchedule" />
  </wsdl:message>
  <wsdl:message name="getAllProductListResponse">
    <wsdl:part name="parameters" element="tns:getAllProductListResponse" />
  </wsdl:message>
  <wsdl:message name="execUpdateSapOnhandResponse">
    <wsdl:part name="parameters" element="tns:execUpdateSapOnhandResponse" />
  </wsdl:message>
  <wsdl:message name="receiveMatInfoResponse">
    <wsdl:part name="parameters" element="tns:receiveMatInfoResponse" />
  </wsdl:message>
  <wsdl:message name="receiveMatInfo">
    <wsdl:part name="parameters" element="tns:receiveMatInfo" />
  </wsdl:message>
  <wsdl:message name="updateSapOnhandByCodeResponse">
    <wsdl:part name="parameters" element="tns:updateSapOnhandByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getCoatFormulaByIdResponse">
    <wsdl:part name="parameters" element="tns:getCoatFormulaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getMatFormulaById">
    <wsdl:part name="parameters" element="tns:getMatFormulaById" />
  </wsdl:message>
  <wsdl:message name="receiveVirtualTransferInfoResponse">
    <wsdl:part name="parameters" element="tns:receiveVirtualTransferInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getUnitListResponse">
    <wsdl:part name="parameters" element="tns:getUnitListResponse" />
  </wsdl:message>
  <wsdl:message name="getCoatFormulaById">
    <wsdl:part name="parameters" element="tns:getCoatFormulaById" />
  </wsdl:message>
  <wsdl:message name="materialTree">
    <wsdl:part name="parameters" element="tns:materialTree" />
  </wsdl:message>
  <wsdl:message name="getTechStdByIdResponse">
    <wsdl:part name="parameters" element="tns:getTechStdByIdResponse" />
  </wsdl:message>
  <wsdl:message name="receiveVirtualTransferInfo">
    <wsdl:part name="parameters" element="tns:receiveVirtualTransferInfo" />
  </wsdl:message>
  <wsdl:message name="getMatFormulaByIdResponse">
    <wsdl:part name="parameters" element="tns:getMatFormulaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllMaterialtList">
    <wsdl:part name="parameters" element="tns:getAllMaterialtList" />
  </wsdl:message>
  <wsdl:message name="materialTreeResponse">
    <wsdl:part name="parameters" element="tns:materialTreeResponse" />
  </wsdl:message>
  <wsdl:message name="getUnitList">
    <wsdl:part name="parameters" element="tns:getUnitList" />
  </wsdl:message>
  <wsdl:message name="getAuxFormulaByIdResponse">
    <wsdl:part name="parameters" element="tns:getAuxFormulaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAuxFormulaById">
    <wsdl:part name="parameters" element="tns:getAuxFormulaById" />
  </wsdl:message>
  <wsdl:message name="getTechStdById">
    <wsdl:part name="parameters" element="tns:getTechStdById" />
  </wsdl:message>
  <wsdl:message name="execUpdateSapOnhand">
    <wsdl:part name="parameters" element="tns:execUpdateSapOnhand" />
  </wsdl:message>
  <wsdl:portType name="WsBaseDataInterface">
    <wsdl:operation name="updateSapOnhandByCode">
      <wsdl:input name="updateSapOnhandByCode" message="tns:updateSapOnhandByCode" />
      <wsdl:output name="updateSapOnhandByCodeResponse" message="tns:updateSapOnhandByCodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="receiveMatInfo">
      <wsdl:input name="receiveMatInfo" message="tns:receiveMatInfo" />
      <wsdl:output name="receiveMatInfoResponse" message="tns:receiveMatInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="receiveVirtualTransferInfo">
      <wsdl:input name="receiveVirtualTransferInfo" message="tns:receiveVirtualTransferInfo" />
      <wsdl:output name="receiveVirtualTransferInfoResponse" message="tns:receiveVirtualTransferInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTechStdById">
      <wsdl:input name="getTechStdById" message="tns:getTechStdById" />
      <wsdl:output name="getTechStdByIdResponse" message="tns:getTechStdByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getWorkSchedule">
      <wsdl:input name="getWorkSchedule" message="tns:getWorkSchedule" />
      <wsdl:output name="getWorkScheduleResponse" message="tns:getWorkScheduleResponse" />
    </wsdl:operation>
    <wsdl:operation name="execUpdateSapOnhand">
      <wsdl:input name="execUpdateSapOnhand" message="tns:execUpdateSapOnhand" />
      <wsdl:output name="execUpdateSapOnhandResponse" message="tns:execUpdateSapOnhandResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMatFormulaById">
      <wsdl:input name="getMatFormulaById" message="tns:getMatFormulaById" />
      <wsdl:output name="getMatFormulaByIdResponse" message="tns:getMatFormulaByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCoatFormulaById">
      <wsdl:input name="getCoatFormulaById" message="tns:getCoatFormulaById" />
      <wsdl:output name="getCoatFormulaByIdResponse" message="tns:getCoatFormulaByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAuxFormulaById">
      <wsdl:input name="getAuxFormulaById" message="tns:getAuxFormulaById" />
      <wsdl:output name="getAuxFormulaByIdResponse" message="tns:getAuxFormulaByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="materialTree">
      <wsdl:input name="materialTree" message="tns:materialTree" />
      <wsdl:output name="materialTreeResponse" message="tns:materialTreeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllMaterialtList">
      <wsdl:input name="getAllMaterialtList" message="tns:getAllMaterialtList" />
      <wsdl:output name="getAllMaterialtListResponse" message="tns:getAllMaterialtListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUnitList">
      <wsdl:input name="getUnitList" message="tns:getUnitList" />
      <wsdl:output name="getUnitListResponse" message="tns:getUnitListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllProductList">
      <wsdl:input name="getAllProductList" message="tns:getAllProductList" />
      <wsdl:output name="getAllProductListResponse" message="tns:getAllProductListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsBaseDataInterfaceServiceSoapBinding" type="tns:WsBaseDataInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateSapOnhandByCode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateSapOnhandByCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateSapOnhandByCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveMatInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="receiveMatInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="receiveMatInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorkSchedule">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getWorkSchedule">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getWorkScheduleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTechStdById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTechStdById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTechStdByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveVirtualTransferInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="receiveVirtualTransferInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="receiveVirtualTransferInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execUpdateSapOnhand">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="execUpdateSapOnhand">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="execUpdateSapOnhandResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatFormulaById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMatFormulaById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMatFormulaByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCoatFormulaById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCoatFormulaById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCoatFormulaByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuxFormulaById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAuxFormulaById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAuxFormulaByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMaterialtList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllMaterialtList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllMaterialtListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="materialTree">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="materialTree">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="materialTreeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProductList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllProductList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllProductListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnitList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUnitList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUnitListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsBaseDataInterfaceService">
    <wsdl:port name="WsBaseDataInterfacePort" binding="tns:WsBaseDataInterfaceServiceSoapBinding">
      <soap:address location="http://10.43.171.22:8081/xymis/services/baseDataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>