MSYS.Web/Web References/EquipService/EquipServiceInterfaceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.dhcc.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EquipServiceInterfaceService" targetNamespace="http://webservice.dhcc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservice.dhcc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getEquipClsList" type="tns:getEquipClsList" />
      <xs:element name="getEquipClsListResponse" type="tns:getEquipClsListResponse" />
      <xs:element name="getEquipList" type="tns:getEquipList" />
      <xs:element name="getEquipListResponse" type="tns:getEquipListResponse" />
      <xs:element name="getMaintainSignRecord" type="tns:getMaintainSignRecord" />
      <xs:element name="getMaintainSignRecordResponse" type="tns:getMaintainSignRecordResponse" />
      <xs:complexType name="getMaintainSignRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMaintainSignRecordResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:maintainSignVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="maintainSignVO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:maintainPlanDetail">
            <xs:sequence>
              <xs:element minOccurs="0" name="operateDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="searchEnd" type="xs:dateTime" />
              <xs:element minOccurs="0" name="searchStart" type="xs:dateTime" />
              <xs:element minOccurs="0" name="signDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="signUserName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="maintainPlanDetail">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="checkUserName" type="xs:string" />
              <xs:element minOccurs="0" name="col1" type="xs:string" />
              <xs:element minOccurs="0" name="detailType" type="xs:string" />
              <xs:element minOccurs="0" name="dutyUserName" type="xs:string" />
              <xs:element minOccurs="0" name="endWork" type="xs:dateTime" />
              <xs:element minOccurs="0" name="endWorkStr" type="xs:string" />
              <xs:element minOccurs="0" name="equipId" type="xs:string" />
              <xs:element minOccurs="0" name="equipName" type="xs:string" />
              <xs:element minOccurs="0" name="equipNo" type="xs:string" />
              <xs:element minOccurs="0" name="equipTag" type="xs:string" />
              <xs:element minOccurs="0" name="firstWork" type="xs:dateTime" />
              <xs:element minOccurs="0" name="firstWorkStr" type="xs:string" />
              <xs:element minOccurs="0" name="id" type="xs:string" />
              <xs:element minOccurs="0" name="isDel" type="xs:byte" />
              <xs:element minOccurs="0" name="lastOperateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="lastSignTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="life" type="xs:string" />
              <xs:element minOccurs="0" name="lifeDay" type="xs:int" />
              <xs:element minOccurs="0" name="mainId" type="xs:string" />
              <xs:element minOccurs="0" name="maintainArea" type="xs:string" />
              <xs:element minOccurs="0" name="maintainContent" type="xs:string" />
              <xs:element minOccurs="0" name="maintainReason" type="xs:string" />
              <xs:element minOccurs="0" name="maintainStep" type="xs:string" />
              <xs:element minOccurs="0" name="operatorId" type="xs:string" />
              <xs:element minOccurs="0" name="operatorName" type="xs:string" />
              <xs:element minOccurs="0" name="planYear" type="xs:string" />
              <xs:element minOccurs="0" name="remark" type="xs:string" />
              <xs:element minOccurs="0" name="stateCode" type="xs:string" />
              <xs:element minOccurs="0" name="stateName" type="xs:string" />
              <xs:element minOccurs="0" name="totalOperateCount" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="draw" type="xs:int" />
          <xs:element minOccurs="0" name="length" type="xs:int" />
          <xs:element minOccurs="0" name="pageNum" type="xs:int" />
          <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          <xs:element minOccurs="0" name="start" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEquipList">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:tEqEqpTbl" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tEqEqpTbl">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="clsCode" type="xs:string" />
              <xs:element minOccurs="0" name="clsName" type="xs:string" />
              <xs:element minOccurs="0" name="createTime" type="xs:string" />
              <xs:element minOccurs="0" name="creator" type="xs:string" />
              <xs:element minOccurs="0" name="dutyName" type="xs:string" />
              <xs:element minOccurs="0" name="eqModel" type="xs:string" />
              <xs:element minOccurs="0" name="eqName" type="xs:string" />
              <xs:element minOccurs="0" name="eqStatus" type="xs:string" />
              <xs:element minOccurs="0" name="eqType" type="xs:string" />
              <xs:element minOccurs="0" name="eqpFrom" type="xs:string" />
              <xs:element minOccurs="0" name="eqpIp" type="xs:string" />
              <xs:element minOccurs="0" name="eqpMac" type="xs:string" />
              <xs:element minOccurs="0" name="eqpSn" type="xs:string" />
              <xs:element minOccurs="0" name="eqpSys" type="xs:string" />
              <xs:element minOccurs="0" name="financeEqName" type="xs:string" />
              <xs:element name="flag" type="xs:int" />
              <xs:element minOccurs="0" name="idkey" type="xs:string" />
              <xs:element minOccurs="0" name="isDel" type="xs:string" />
              <xs:element minOccurs="0" name="isMadeinchina" type="xs:string" />
              <xs:element minOccurs="0" name="isSpecEqp" type="xs:string" />
              <xs:element minOccurs="0" name="manufacturer" type="xs:string" />
              <xs:element minOccurs="0" name="mgtDeptCode" type="xs:string" />
              <xs:element minOccurs="0" name="mgtDeptName" type="xs:string" />
              <xs:element minOccurs="0" name="ncCode" type="xs:string" />
              <xs:element minOccurs="0" name="netWorth" type="xs:string" />
              <xs:element minOccurs="0" name="oriOwnerName" type="xs:string" />
              <xs:element minOccurs="0" name="oriWorth" type="xs:string" />
              <xs:element minOccurs="0" name="ownerName" type="xs:string" />
              <xs:element minOccurs="0" name="powerUnit" type="xs:string" />
              <xs:element minOccurs="0" name="ratedPower" type="xs:string" />
              <xs:element minOccurs="0" name="realPower" type="xs:string" />
              <xs:element minOccurs="0" name="remark" type="xs:string" />
              <xs:element minOccurs="0" name="serialNumber" type="xs:string" />
              <xs:element minOccurs="0" name="sgsCode" type="xs:string" />
              <xs:element minOccurs="0" name="supplier" type="xs:string" />
              <xs:element minOccurs="0" name="useDeptCode" type="xs:string" />
              <xs:element minOccurs="0" name="useDeptName" type="xs:string" />
              <xs:element minOccurs="0" name="usedDate" type="xs:string" />
              <xs:element minOccurs="0" name="zgDate" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getEquipListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tEqEqpTbl" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEquipClsList">
        <xs:sequence>
          <xs:element minOccurs="0" name="contentXml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEquipClsListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tEqEqpCls" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tEqEqpCls">
        <xs:sequence>
          <xs:element minOccurs="0" name="idKey" type="xs:string" />
          <xs:element minOccurs="0" name="nodeName" type="xs:string" />
          <xs:element minOccurs="0" name="nodeValue" type="xs:string" />
          <xs:element minOccurs="0" name="parentId" type="xs:string" />
          <xs:element minOccurs="0" name="path" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getEquipClsListResponse">
    <wsdl:part name="parameters" element="tns:getEquipClsListResponse" />
  </wsdl:message>
  <wsdl:message name="getEquipListResponse">
    <wsdl:part name="parameters" element="tns:getEquipListResponse" />
  </wsdl:message>
  <wsdl:message name="getMaintainSignRecord">
    <wsdl:part name="parameters" element="tns:getMaintainSignRecord" />
  </wsdl:message>
  <wsdl:message name="getMaintainSignRecordResponse">
    <wsdl:part name="parameters" element="tns:getMaintainSignRecordResponse" />
  </wsdl:message>
  <wsdl:message name="getEquipClsList">
    <wsdl:part name="parameters" element="tns:getEquipClsList" />
  </wsdl:message>
  <wsdl:message name="getEquipList">
    <wsdl:part name="parameters" element="tns:getEquipList" />
  </wsdl:message>
  <wsdl:portType name="EquipServiceInterface">
    <wsdl:operation name="getMaintainSignRecord">
      <wsdl:input name="getMaintainSignRecord" message="tns:getMaintainSignRecord" />
      <wsdl:output name="getMaintainSignRecordResponse" message="tns:getMaintainSignRecordResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEquipList">
      <wsdl:input name="getEquipList" message="tns:getEquipList" />
      <wsdl:output name="getEquipListResponse" message="tns:getEquipListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEquipClsList">
      <wsdl:input name="getEquipClsList" message="tns:getEquipClsList" />
      <wsdl:output name="getEquipClsListResponse" message="tns:getEquipClsListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EquipServiceInterfaceServiceSoapBinding" type="tns:EquipServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEquipList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEquipList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEquipListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaintainSignRecord">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMaintainSignRecord">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMaintainSignRecordResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEquipClsList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEquipClsList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEquipClsListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EquipServiceInterfaceService">
    <wsdl:port name="EquipServiceInterfacePort" binding="tns:EquipServiceInterfaceServiceSoapBinding">
      <soap:address location="http://10.43.171.22:8081/xymis/services/EquipService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>